/*ESTILOS DEL INDEX*/
.bodyIndex {
  margin: 0px;
  padding: 0px;
}
.bodyIndex .navBootstrap {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  text-decoration-color: black;
  background-color: #eccdcb;
  margin: 0px;
  padding: 0px;
}

.footerGeneralInicio {
  background-color: #eccdcb;
  display: flex;
  justify-content: flex-end;
  background-color: #eccdcb;
  padding: 1rem;
}
.footerGeneralInicio .logoWhatsappInicio {
  margin-right: 1rem;
  width: 25px;
}
.footerGeneralInicio .logoFacebookInicio {
  margin-right: 1rem;
  width: 25px;
}
.footerGeneralInicio .logoIgInicio {
  margin-right: 1rem;
  width: 25px;
}

/*ESTILOS DE PRODUCTOS*/
.bodyProductos {
  margin: 0px;
  padding: 0px;
}
.bodyProductos .navBootstrap {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  text-decoration-color: black;
  opacity: 100%;
  background-color: #eccdcb;
  margin: 0px;
  padding: 0px;
}
.bodyProductos .h1Productos {
  justify-content: center;
  margin-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
  text-decoration: solid;
}
.bodyProductos .divGeneralProductos {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.bodyProductos .footerGeneralInicio {
  background-color: #eccdcb;
  display: flex;
  justify-content: flex-end;
  background-color: #eccdcb;
  padding: 1rem;
}
.bodyProductos .footerGeneralInicio .logoWhatsappInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyProductos .footerGeneralInicio .logoFacebookInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyProductos .footerGeneralInicio .logoIgInicio {
  margin-right: 1rem;
  width: 25px;
}

/*ESTILOS DE POLITICAS DE DEVOLUCION*/
.bodyDevoluciones {
  margin: 0px;
  padding: 0px;
}
.bodyDevoluciones .navBootstrap {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  text-decoration-color: black;
  opacity: 100%;
  background-color: #eccdcb;
}
.bodyDevoluciones .mainDevoluciones {
  margin: 2rem;
  justify-content: center;
}
.bodyDevoluciones .mainDevoluciones .tituloDevolucion {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
  text-decoration: solid;
  padding: 1rem;
  padding-top: 1rem;
  text-align: center;
}
.bodyDevoluciones .mainDevoluciones .parrafoDevolucion {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: justify;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  margin: 2rem;
}
.bodyDevoluciones .mainDevoluciones .tituloDevolucionNegrita {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  text-decoration: solid;
  padding: 1rem padding-bottom 1rem;
  margin: 2rem;
  font-size: 24px;
}
.bodyDevoluciones .footerGeneralInicio {
  background-color: #eccdcb;
  display: flex;
  justify-content: flex-end;
  background-color: #eccdcb;
  padding: 1rem;
}
.bodyDevoluciones .footerGeneralInicio .logoWhatsappInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyDevoluciones .footerGeneralInicio .logoFacebookInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyDevoluciones .footerGeneralInicio .logoIgInicio {
  margin-right: 1rem;
  width: 25px;
}

/*ESTILOS COMUNIDAD*/
.bodyComunidad {
  margin: 0px;
  padding: 0px;
}
.bodyComunidad .navBootstrap {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  text-decoration-color: black;
  opacity: 100%;
  background-color: #eccdcb;
}
.bodyComunidad .mainComunidad {
  text-align: center;
  margin-top: 2rem;
}
.bodyComunidad .mainComunidad .tituloMainTestimonios, .bodyComunidad .mainComunidad .animate__animated {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-decoration: solid;
  color: black;
  text-align: center;
  text-decoration: solid;
  margin: 2rem;
  margin-top: 4rem;
}
.bodyComunidad .mainComunidad .imagenesTestimonios {
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.bodyComunidad .mainComunidad .imagenesTestimonios .testimonioUno {
  width: 300px;
}
.bodyComunidad .mainComunidad .imagenesTestimonios .testimonioDos {
  width: 300px;
}
.bodyComunidad .mainComunidad .imagenesTestimonios .testimonioTres {
  width: 300px;
}
.bodyComunidad .footerGeneralInicio {
  background-color: #eccdcb;
  display: flex;
  justify-content: flex-end;
  background-color: #eccdcb;
  padding: 1rem;
}
.bodyComunidad .footerGeneralInicio .logoWhatsappInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyComunidad .footerGeneralInicio .logoFacebookInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyComunidad .footerGeneralInicio .logoIgInicio {
  margin-right: 1rem;
  width: 25px;
}

/*ESTILOS CONTACTO*/
.bodyContacto {
  margin: 0px;
  padding: 0px;
}
.bodyContacto .navBootstrap {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  text-decoration-color: black;
  opacity: 100%;
  background-color: #eccdcb;
}
.bodyContacto .mainContacto .tituloMainContacto {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  margin: 2rem;
}
.bodyContacto .mainContacto .formularioContacto {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.bodyContacto .mainContacto .botonEnviar {
  margin-left: 3rem;
  margin-bottom: 5rem;
}
.bodyContacto .footerGeneralInicio {
  background-color: #eccdcb;
  display: flex;
  justify-content: flex-end;
  background-color: #eccdcb;
  padding: 1rem;
}
.bodyContacto .footerGeneralInicio .logoWhatsappInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyContacto .footerGeneralInicio .logoFacebookInicio {
  margin-right: 1rem;
  width: 25px;
}
.bodyContacto .footerGeneralInicio .logoIgInicio {
  margin-right: 1rem;
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
