    /*ESTILOS DEL INDEX*/
    .bodyIndex {
        margin: 0px;
        padding: 0px;
    
    .navBootstrap{
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: solid;
        text-decoration-color: black;
        background-color: #eccdcb;
        margin: 0px;
        padding: 0px;
    }


    .footerGeneralInicio {
        background-color: #eccdcb;    
        display: flex ;
        justify-content: flex-end; 
        background-color: #eccdcb ;
        padding: 1rem;
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;

                 .logoWhatsappInicio{
                    margin-right: 1rem;
                    width: 25px
                }
                 .logoFacebookInicio{
                    margin-right: 1rem;
                    width: 25px
                }
                 .logoIgInicio{
                    margin-right: 1rem;
                    width: 25px
                }
     }      

}  
             


/*ESTILOS DE PRODUCTOS*/

.bodyProductos{
    margin: 0px;
    padding: 0px;

    .navBootstrap{
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: solid;
        text-decoration-color: black;
        opacity: 100%;
        background-color: #eccdcb;
        margin:0px ; 
        padding: 0px;
    }
    
    .h1Productos  { 
        justify-content: center;
        margin-top: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        text-align: center;
        text-decoration: solid;
    }
    .divGeneralProductos{
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }

    .footerGeneralInicio {
        background-color: #eccdcb;    
        display: flex ;
        justify-content: flex-end; 
        background-color: #eccdcb ;
        padding: 1rem;
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;

                 .logoWhatsappInicio{
                    margin-right: 1rem;
                    width: 25px
                }
                 .logoFacebookInicio{
                    margin-right: 1rem;
                    width: 25px
                }
                 .logoIgInicio{
                    margin-right: 1rem;
                    width: 25px
                }
     }        
} 


/*ESTILOS DE POLITICAS DE DEVOLUCION*/
.bodyDevoluciones{
    margin: 0px;
    padding: 0px;

        .navBootstrap{
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: solid;
            text-decoration-color: black;
            opacity: 100%;
            background-color: #eccdcb;
        }
    
        .mainDevoluciones{
            margin: 2rem;
            justify-content: center;

            .tituloDevolucion{
                justify-content: center;
                margin-top: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                text-align: center;
                text-decoration: solid;
             }
                .parrafoDevolucion{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 20px;
                    text-align: justify;
                    padding-left: 3rem;
                    padding-right: 3rem;
                    padding-bottom: 1rem;
                    margin: 2rem
                }
                .tituloDevolucionNegrita{
                    justify-content: center;
                    margin-top: 1rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 25px;
                    text-align: center;
                    text-decoration: solid;
                }
         }

         .footerGeneralInicio {
            background-color: #eccdcb;    
            display: flex ;
            justify-content: flex-end; 
            background-color: #eccdcb ;
            padding: 1rem;
            position: fixed;
            width: 100%;
            height: 50px;
            bottom: 0;

                     .logoWhatsappInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
                     .logoFacebookInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
                     .logoIgInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
         }            
 } 



/*ESTILOS COMUNIDAD*/

.bodyComunidad{
    margin: 0px;
    padding: 0px;

    .navBootstrap{
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: solid;
        text-decoration-color: black;
        opacity: 100%;
        background-color: #eccdcb;
    }

        .mainComunidad{
            text-align: center;
            margin-top: 2rem;
            .tituloMainTestimonios, .animate__animated {
                justify-content: center;
                margin-top: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                text-align: center;
                text-decoration: solid; 
            }
            .imagenesTestimonios{
                justify-content: space-between;
                margin-top: 3rem; 
                margin-bottom: 4rem;

                    .testimonioUno{width:300px}
                    .testimonioDos{width:300px}
                    .testimonioTres{width:300px}
            }
        }

        .footerGeneralInicio {
            background-color: #eccdcb;    
            display: flex ;
            justify-content: flex-end; 
            background-color: #eccdcb ;
            padding: 1rem;
            position: fixed;
            width: 100%;
            height: 50px;
            bottom: 0;


                     .logoWhatsappInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
                     .logoFacebookInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
                     .logoIgInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
         } 
        } 


/*ESTILOS CONTACTO*/
.bodyContacto {
margin: 0px;
padding: 0px;

.navBootstrap{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    text-decoration-color: black;
    opacity: 100%;
    background-color: #eccdcb;
}

        .mainContacto{

            .tituloMainContacto{
                justify-content: center;
                margin-top: 2rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                text-align: center;
                text-decoration: solid;
            }
            
            .formularioContacto{
                margin-left: 3rem;
                margin-right: 3rem;
                margin-top: 4rem;
                margin-bottom: 1rem;
            }
            
            .botonEnviar{
                margin-left: 3rem;
                margin-bottom: 5rem;
            }
        }

        .footerGeneralInicio {
            background-color: #eccdcb;    
            display: flex ;
            justify-content: flex-end; 
            background-color: #eccdcb ;
            padding: 1rem;
            position: fixed;
            width: 100%;
            height: 50px;
            bottom: 0;

                     .logoWhatsappInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
                     .logoFacebookInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
                     .logoIgInicio{
                        margin-right: 1rem;
                        width: 25px
                    }
         } 
} 
